# compiled
/dist
/node_modules
/coverage

# logs
*.log
npm-debug.log*

# env
.env
.env.local
.env.*.local
!.env.example

# prisma
/src/generated

# os / ide
.DS_Store
.idea
.vscode
*.swp

# test
/test-results
